@import 'bootstrap/dist/css/bootstrap.min.css';

/* impostazioni generali */
.container {
    max-width: 1648px;
}

li {
    list-style-type: none;
}


/* impostazioni header */
header .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* debug */
    margin: 0 auto;
    border: 4px solid #000;
    background: #567885;
    width: 100%;
    height: 88px;
}

.row .col-4 nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}





/* jumbotron */
section .row {
    display: flex;
    justify-content: center;
    /* debug */
    margin: 0 auto;
    background: #943;
    border: 4px solid #555;
    width: 100%;
    height: 60vh;
}

.row .col-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* debug */
    background: lime;
}




/* contenuto del sito */

/* portfolio */
main section .row {
    display: flex;
    justify-content: center;
    /* debug */
    background: #234562;
    width: 100%;
}

.row .col-9 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    background: orange;
}

/* about */
.row .col-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    background: green;
}







/* informazioni */
footer .row {
    justify-content: center;
    /* debug */
    margin: 0 auto;
    background: #224142;
    border: 4px solid grey;
    width: 100%;
    height: 40vh;
}

.row .col-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    background: red;
}