/* impostazioni generali */
.container {
    max-width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
}

.bi.bi-star-fill {
    font-size: 25px;
}


/* impostazioni header */
#top-bar .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2C3E50;  
    height: 88px;
}

#top-bar .row span {
    color: white;
    font-size: 19px;
    font-weight: 500;
}

/* menu di navigazione */
#top-bar .row a > i {
    display: flex;
    justify-content: center;
    border: 1px solid #cecece;
    border-radius: 5px;
    padding: 10px;
    color: #cecece;
}

#top-bar .row nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
}




/* jumbotron */
#jumbotron .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1ABC9C;
    color: white;
    text-align: center;
}

#jumbotron .row img {
    margin: 20px;
}

#jumbotron .row p {
    margin-bottom: 30px;
}



/* contenuto del sito */
main #port {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* portfolio */
#port .row h5 {
    margin-top: 30px;
    font-weight: 600;
}

#port .row img {
    border-radius: 8px;
    margin-bottom: 20px;
}


/* about */
#about .row {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1ABC9C;
    text-align: center;
    color: white;
    margin-top: 30px;
}

#about .row h4 {
    margin-top: 40px;
}

#about .row p {
    padding: 10px;
    text-align: left;
}

#about .row p:nth-child(2) {
    padding-bottom: 40px;
}

#about .row a {
    padding: 10px;
    border: 1px solid white;
    border-radius: 8px;
}

#about .row a i {
    margin: 40px 0;
}


/* form */
#contact .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contact .row h4 {
    margin-top: 40px;
}

#contact .row .mb-3 {
    text-align: left;
    font-weight: 500;
}

#contact .row .btn.btn-primary {
    background: #1ABC9C;
    border: solid #1ABC9C;
    color: white;
    margin-bottom: 30px;
}



/* informazioni */
#bottom .row {
    display: flex;
    justify-content: space-around;
    background: #3a546d;
    text-align: center;
    color: white;
    
}

#bottom .row h6, span, p {
    font-weight: 400;
}

#bottom .row h6 {
    margin-top: 40px;
}

#bottom .row a i {
    padding: 13px;
    margin-right: 5px;
    width: 45px;
    height: 45px;
    border: 1px solid white;
    border-radius: 50%;
}

#bottom .row p {
    margin-bottom: 60px;
}

#bottom .row p > span {
    color: #1ABC9C;
    font-weight: 500;
}


/* copyright */
#bottom .row #copyright {
    padding: 30px;
    background: #2c3e50;
}

#bottom .row #copyright span {
    font-size: 12px;
}




/* media query */
@media screen and (min-width: 576px) {
    
    /* #top-bar .row .col-sm-2 {
        display: none;
    } */
}