/* impostazioni generali */
.container {
    max-width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
}

.bi.bi-star-fill {
    font-size: 25px;
}


/* impostazioni header */
#top-bar .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2C3E50;  
    height: 88px;
}

#top-bar .row span {
    color: white;
    font-weight: 500;
}

/* menu di navigazione */
#top-bar .row a > i {
    display: flex;
    justify-content: center;
    border: 1px solid #cecece;
    border-radius: 5px;
    padding: 10px;
    color: #cecece;
}




/* jumbotron */
#jumbotron .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1ABC9C;
    color: white;
    text-align: center;
}



/* contenuto del sito */
main #port {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* portfolio */
#port .row h5 {
    font-weight: 600;
}

#port .row img {
    border-radius: 8px;
    margin-bottom: 30px;
}


/* about */
#about .row {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1ABC9C;
    text-align: center;
    color: white;
}

#about .row h4 {
    margin-top: 40px;
}

#about .row p {
    padding: 10px;
    text-align: left;
}

#about .row p:nth-child(2) {
    margin-bottom: 40px;
}

#about .row a {
    padding: 10px;
    border: 1px solid white;
    border-radius: 8px;
}

#about .row a i {
    margin-bottom: 40px;
}


/* form */
#contact .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contact .row h4 {
    margin-top: 40px;
}

#contact .row .mb-3 {
    text-align: left;
    font-weight: 500;
}

#contact .row .btn.btn-primary {
    background: #1ABC9C;
    border: solid #1ABC9C;
    color: white;
    margin-bottom: 30px;
}








/* informazioni */
#bottom .row {
    /* debug */
    margin: 0 auto;
    background: #224142;
    border: 4px solid grey;
    width: 100%;
    height: 40vh;
}




/* media query */
@media screen and (max-width: 768px) {
    
    
}